body{
  background: black;
}

.lightrope {
  text-align: center;
  overflow: hidden;
  position: absolute;
  margin: -15px 0 0 0;
  padding: 0;
  width: 100%;
}

.lightrope li {
  position: relative;
  animation-iteration-count: infinite;
  list-style: none;
  padding: 0;
  margin: 20px;
  width: 12px;
  height: 40px;
  border-radius: 150%;
  display: inline-block;
  background: #00f7a5; /*verde azul*/
  box-shadow: 0px 5px 24px 3px #00f7a5;
  animation-name: flash-1;
  animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
  background: cyan;
  box-shadow: 0px 5px 24px 3px rgba(255, 0, 0, 0.5);
  animation-name: flash-2;
  animation-duration: 0.4s;
}

.lightrope li:nth-child(4n+2) {
  background: #f70094;
  box-shadow: 0px 5px 24px 3px #f70094;
  animation-name: flash-3;
  animation-duration: 1.1s;
}

.lightrope li:nth-child(odd){
  animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
  animation-duration: 1.4s;
}

@keyframes identifier {
  0%, 100% {
    background: #00f7a5;
    box-shadow: 0px 5px 24px 3px #00f7a5;
}
  50% {
    background: rgba(0, 247, 165, 0.4);
  }
}

@keyframes flash-2 {
  0%, 100% {
    background: cyan;
    box-shadow: 0px 5px 24px 3px cyan;
}
  50% {
    background: rgba(247, 0, 148, 0.2);
    box-shadow: 0px 5px 24px 3px rgba(247, 0, 148, 0.2);
  }
}

@keyframes flash-3 {
  0%, 100% {
    background: #f70094;
    box-shadow: 0px 5px 24px 3px #f70094;
}
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 5px 24px 3px rgba(247, 0, 148, 0.4);
  }
}

h1 {
  color: red;
  width: 100%;
  text-align: center;
  position: absolute;
  margin: 100px auto;
}
