body{
    background: rgba(76, 212, 128, 0.315);
}

.btn{
    text-align: center;
    margin:16px 6px 2px 0;
    color:#1b9ce7d8;
    font-weight:bold;
    display:inline-block;
    padding:6px 12px;
    font-size:20px;
    text-align:center;
    cursor:pointer;
    outline:0;
    float:left;
    background-color:#911616f3;
}

.btn1{
    color:#3dcc95dc;
    text-decoration:none;
}