* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background: #bedbe4;
}
form {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	padding: 10px;
}
form input {
	flex: 16% 0;
	margin-left: 3.2%;
	border-radius: 5px;
	border: none;
	outline: none;
	color: #fff;
	display: block;
	padding: 20px 10px;
	cursor: pointer;
	font-family: verdana;
	font-weight: bold;
	background-color: #B8B8B8;
	margin-bottom: 20px;
}
.alerta {
	margin: 0 auto;
	width: 90%;
	padding: 10px 20px;
	color: #fff;
	background-color: #ccc;
	position: relative;
	display: block;
}
.alerta:before {
	content: '';
	border: 5px solid;
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	height: 90%;
	color: #ccc;
}
.alerta p {
	font-size: 20px;
	margin: 10px 0;
	border-radius: 5px;
}
input[value="Azul"].activo, .divAzul {
	text-align: center;
    overflow: hidden;
    margin: 15px;
    padding: 5px;
    width: 15%;
    background: #007bff;
    box-shadow: 0px 5px 24px 3px #007bff;
}
.divBlue:before {
    color: #007bff;
}
input[value="Verde"].activo, .divVerde {
	text-align: center;
    overflow: hidden;
    margin: 15px;
    padding: 5px;
    width: 15%;
    background: #28a745;
    box-shadow: 0px 5px 24px 3px #28a745;
}
.divGreen:before {
    color: #28a745;
}
input[value="Amarillo"].activo, .divAmarillo {
	text-align: center;
    overflow: hidden;
    margin: 15px;
    padding: 5px;
    width: 15%;
    background: #faf747;
    box-shadow: 0px 5px 24px 3px #faf747;
}
.divYellow:before {
    color: #faf747;
}
input[value="Rojo"].activo, .divRojo {
	text-align: center;
    overflow: hidden;
    margin: 15px;
    padding: 5px;
    width: 15%;
    background: #f03d3d;
    box-shadow: 0px 5px 24px 3px #f03d3d;
}
.divRed:before {
    color: #f03d3d;
}
input[value="Gris"].activo, .divGris {
	text-align: center;
    overflow: hidden;
    margin: 15px;
    padding: 5px;
    width: 15%;
    background: #adb5bd;
    box-shadow: 0px 5px 24px 3px #adb5bd;
}
.divGray:before {
    color: #adb5bd;
}